@media (min-width: 576px){
  .modal-dialog {
      max-width: 600px;
      margin: 1.75rem auto;
  }
}

.modal-header {
  display: inline;
}

.modal-header .btn-close {
  cursor: pointer;
  position: absolute;
  top: .625rem;
  right: .625rem;
  z-index: 1;
  opacity: .8;
  font-size: 1em;
  color: #6e7980;
  width: 2.25rem;
  height: 2.25rem;
  padding: .625rem 0 0;
  margin: 0;
}

.modal-header{
  text-align: center;
  font-size: 1.3em;
}

.modal-content p {
  font-weight: 700;
}
.basic.header p{
  margin-bottom: 0.6em;
}